@media (min-width: 822px) {
    .showonmobile {
        display: none;
    }
}

@media (max-width: 821px) {
    :root {
        --text-main-size: 2.4vw;
        --text-sub-size: 1.9vw;
        --text-logo-size: 3.8vw;
        --text-head-size: 5.7vw;
        --text-subhead-size: 4.6vw;
        --text-subsubhead-size: 3vw;
    }

    .button {
        width: 55vw;
        height: 12vw;
    }

    li:before {
        left: -3.2vw;
    }

    .hideonmobile {
        display: none;
    }

    .container {
        margin-top: 15vw;
        width: 90vw;
    }

    .burger__button {
        width: 5vw;
        height: 5vw;
        transform: rotate(0deg);
        transition: transform ease-in-out 0.5s;
    }

    .burger__button:hover {
        transform: rotate(-90deg);
    }

    .burger {
        overflow: hidden;
        z-index: 10;
        background-color: var(--main-color);
        border-right: 5px solid var(--text-sub-color);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0vw;
        opacity: 0;
        transition: width ease-out 0.4s, opacity ease-out 0.4s;
    }

    .burger__close {
        position: absolute;
        margin: 1vw;
        right: 7.4vw;
        top: 7.4vw;
        width: 5vw;
        height: 5vw;
        filter: blur(0.7px);
    }

    .burger__links {
        opacity: 0;
        transition: opacity ease-out 0.2s 0.4s;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 15vw 30vw 15vw 10vw;
    }

    .burger__links a {
        margin-bottom: 3vw;
        font-size: var(--text-subhead-size);
    }

    header {
        z-index: 1;
        box-sizing: border-box;
        padding: 0 11vw 0 3vw;
        left: 0;
        top: 0;
        height: 10vw;
        position: fixed;
        background-color: var(--main-color);
        border-bottom: 2px solid var(--text-sub-color);
        box-shadow: 0 0 10px 0 rgba(219, 189, 164, .8);
    }

    .main {
        flex-direction: column;
        height: 85vw;
    }

    .main img {
        width: 37.5vw;
        height: 37.5vw;
    }

    .content {
        padding: 10vw;
    }

    .content__list ul li {
        margin-bottom: 4.2vw;
    }

    .content__list h3 {
        margin-bottom: 6vw;
    }

    .services__grid {
        grid-template-columns: 1fr;
        margin-bottom: 20vw;
        gap: 10vw;
    }

    .services__item {
        height: 50vw;
    }

    .services__item .item__image {
        width: 20vw;
        height: 20vw;
    }

    .about__advantage {
        height: unset;
    }

    .advantage__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10vw;
    }

    .advantage__item {
        width: 35vw;
    }

    .advantage__item .item__image {
        width: 11vw;
        height: 11vw;
    }

    .prices {
        height: 40vw;
    }

    .container__button {
        height: 24vw;
    }
}