:root {
    --main-color: #FFFFFF;
    --text-main-color: #29493E;
    --text-sub-color: #D9C697;
    --shadow-color: #F9F7F1;
    --text-main-size: 0.94vw;
    --text-head-size: 2vw;
    --text-logo-size: 1.6vw;
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
}

.touchable {
    cursor: pointer;
}

.nottouchable {
    pointer-events: none;
    cursor: pointer;
}

.notselectable {
    -webkit-user-select: none;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    padding: 0 0 5vw 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 500;
    font-size: var(--text-head-size)
}

@keyframes BackgroundAnimation {
    0% {
        filter: blur(5px) contrast(2) hue-rotate(0deg);
    }

    50% {
        filter: blur(7px) contrast(1.5) hue-rotate(180deg);
    }

    100% {
        filter: blur(5px) contrast(2) hue-rotate(360deg);
    }
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*filter: blur(5px) contrast(2) hue-rotate(0deg);*/
    animation: BackgroundAnimation infinite 30s normal;
}

.container {
    position: relative;
    width: 62.5vw;
}

header {
    width: 100%;
    height: 13.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7vw;
}

.header__logo {
    font-size: var(--text-logo-size);
    font-weight: 300;
}

.header__links {
    width: 17.5vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__links a {
    position: relative;
    text-transform: uppercase;
    transition: font-size ease-out 0.2s;
}

.header__links a hr {
    position: absolute;
    opacity: 0;
    border-color: var(--text-sub-color);
    filter: blur(0.7px);
    width: 0%;
    left: 50%;
    transition: width ease-out 0.2s, opacity ease-out 0.2s, left ease-out 0.2s;
}

.header__links a:hover {
    font-size: calc(var(--text-main-size) * 1.1);
}

.header__links a:hover hr {
    width: 100%;
    opacity: 1;
    left: 0;
}

.header__phone {

}

.header__social {
    width: 3.85vw;
    display: inline-flex;
    justify-content: space-between;
}

.header__social img {
    width: 1.28vw;
    height: 1.28vw;
}

.main {
    box-sizing: border-box;
    position: relative;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15vw;
}

.main img {
    border-radius: 100vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    width: 17.5vw;
    height: 17.5vw;
}

.main hr {
    height: 12vw;
    opacity: 0.6;
    border-color: var(--text-main-color);
}

.main p {
    font-size: var(--text-main-size);
}

.addition {
    position: relative;
    width: 100%;
}

.addition div {
    position: absolute;
    width: 5vw;
    height: 2vw;
    filter: blur(0.7px);
}

.addition__upleft {
    top: -2vw;
    left: -2vw;
    border-left: 3px solid var(--text-sub-color);
    border-top: 3px solid var(--text-sub-color);
}

.addition__downright {
    bottom: -2vw;
    right: -2vw;
    border-right: 3px solid var(--text-sub-color);
    border-bottom: 3px solid var(--text-sub-color);
}

.addition p {
    line-height: calc(var(--text-main-size) * 1.5);
    text-align: center;
}

.about__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
}

.about__header hr {
    border: 1px solid var(--text-sub-color);
    margin-top: 0.2vw;
    width: 15vw;
}

.about {
    min-height: 20vw;
    box-shadow: 0 0.25em 1.875em 0 rgba(217,198,151,.25);
    background-color: var(--main-color);
}